<header>
      <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
                <span id="burger">☰</span>
        </span>
        <a href="https://julieta.aranc.io" class="logo" style="text-decoration:none; color:black;">> $ cd ~/</a>
        <a href="https://twitter.com/cassandreces" id="tw"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png" height="15px" width="16px"></a>
        <a href="https://github.com/thessaly" id="gh"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" height="15px" width="16px"></a>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="https://blog.aranc.io" class="nav-links" id="blog-link">Blog</a>
          </li>
          <li>
            <a href="https://github.com/thessaly/phd" class="nav-links">PhD</a>
          </li>
          <li>
            <a href="https://julieta.aranc.io/projects" class="nav-links">Projects</a>
          </li>
          <li>
            <a href="https://julieta.aranc.io/me" class="nav-links">Me</a>
          </li>
        </ul>
      </nav>
    </header>
