<header>
  <ul class="navbar">
            <li><a href="https://me.aranc.io">Me</a></li>
            <li><a href="https://projects.aranc.io">Projects</a></li>
            <li><a href="https://phd.aranc.io">PhD</a></li>
            <li><a class="active" href=/>Blog</a></li>
            <li style="float:left;"><a id="home" href="https://julieta.aranc.io">> $ cd ~/</a></li>
            <li style="float:left;"><a href="https://twitter.com/cassandreces"><img src="https://upload.wikimedia.org/wikipedia/de/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png" height="15px" width="16px"></a></li>
            <li style="float:left;"><a href="https://github.com/thessaly"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png" height="18px" width="18px"></a> </li>
  </ul>
</header>
