---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Footer
.site-footer {
  border-top: 0px solid $grey-color-light;
  padding: $spacing-unit/6 ;
  background-color: #BD0048;
}

.footer-content {
  display: block;
  padding: 8px 16px;
  color: white;
  font-family: monospace;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.footer-content a {
  color: lightblue;
}

// Navbar

nav {
     position: relative;
       z-index: 1;
}

.navbar {
  font-size: 14px;
  background-color: #F0F8FF;

}

.main-nav {
  list-style-type: none;
  display: none;
  border-bottom: 2px solid #CCFFCC;
  margin: 0;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
}

.main-nav li {
  text-align: center;
  padding: 15px 16px;
}

.logo {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 16px;
  background-color: #CCFFCC;
  font-weight: bold;
}

.social {
  display: inline-block;
  font-size: 18px;
  padding: 13px 15px;
}

.navbar-toggle {
  position: absolute;
  top: 4px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

nav {
     position: relative;
       z-index: 1;
}
#blog-link {
  background-color: #ffe4b5;
  font-weight: bold;
  color: black;
  padding: 14px 14px 12px 14px;
}

.active {
  display: block;
  font-weight: bold;
}

#tw {
  margin: 0;
  display: block;
  padding: 12px 16px ;
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 3px;
}

#gh {
  margin: 0;
  display: block;
  padding: 12px 16px ;
  font-weight: bold;
  position: absolute;
  left: 140px;
  top: 3px;
}

#burger {
  font-size:30px;
}

.post-title {
  font-family: monospace;
  font-weight: normal;
  letter-spacing: -2px;

}

// Main content
.page-content {
  padding: 0;
  flex: 1 0 auto;
}

.post-list-heading {
  @include relative-font-size(3.5);
  font-weight: bolder;
  font-family: monospace;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  font-family: monospace;
  color: #BD0048;
  margin-bottom: $spacing-unit
}

.post-link {
  display: block;
  color: $grey-color-dark;
  @include relative-font-size(1.5);
}

.post-title,
.post-content h1 {
  @include relative-font-size(3);
  letter-spacing: 1.5px;
  line-height: 1.25;
  font-weight: bolder;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(3);
  }
}

.labels a {
  background-color: #BD0048;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.labels a:hover {
  text-decoration: none;
  color: #F0F8FF;
}

.post-list-heading {
  font-weight: normal;
  font-family:monospace;
  margin-bottom:0
 }
.post-list-subheading {
  font-family:monospace;
  letter-spacing: 3px;
  margin-bottom: 50px;
 }

.post-link {
 display:block;
 font-family: monospace;
 letter-spacing: 0.5px;
 color: #333333;
}

.page-content {
  margin: 75px 30px;
  padding: 0;
}


// For Desktop
@media screen and (min-width: 800px) {
 .post-list-heading {
  font-size:56px;
  font-weight: normal;
  font-family:monospace;
  margin-bottom:0
 }
 .post-list-subheading {
  font-family:monospace;
  font-size:18px;
  margin-bottom:50px;
  letter-spacing: 3px;
 }
.post-link {
 display:block;
 font-family: monospace;
 letter-spacing: 0.5px;
 font-size:24px;
 color: #333333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 45px;
  align-items: center;
  font-family: monospace;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 0px;
}
.main-nav li {
  margin: 0;
  padding: 0;
}
.nav-links {
  margin: 0;
  display: block;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
}
.nav-links:hover {
color: white;
background-color: #BD0048;
text-decoration: none;
}
.logo {
  margin-top: 0;
  font-size: 14px;
  display: block;
  padding: 12px 13px ;
}
.navbar-toggle {
  display: none;
}
}

// Tablets
@media screen and (min-width: 600px)
{
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 45px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 0px;

  }

  .main-nav li {
    margin: 0;
    padding: 0;
  }

  .nav-links {
    margin: 0;
    display: block;
    padding: 14px ;
    font-weight: bold;

  }

  .logo {
    margin-top: 0;
    font-size: 14px;
    display: block;
    padding: 12px 13px;
    color: black;
  }

  .navbar-toggle {
    display: none;
  }
}
